<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="VotifyDbConnection"
			 connectionString="Host=aws-1-eu-west-1.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.qoahzxuzktsrzleaxjeo;Password=yvuWJPRkV5uWleTN"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>
