<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="VotifyDbConnection"
			 connectionString="Host=db.qoahzxuzktsrzleaxjeo.supabase.co;Port=5432;Database=postgres;Username=postgres;Password=yvuWJPRkV5uWleTN"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>